@import "../../scss/theme/var";

.empty-wrapper {
  height: 192px;
  width: 315px;
  background: url("../../assets/card.png") no-repeat;
  background-size: 315px 192px;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 3px 3px 10px #edcbb4;
  .empty {
    color: $--color-white;
    font-size: $--size-middle;
  }
}
