@import '~antd/dist/antd.dark.css';
@import '~antd/dist/antd.compact.css';
@import "theme/light";
@import "theme/dark";

@font-face {
  font-family: 'Ayuthaya';
  src: url('../fonts/Ayuthaya/Ayuthaya.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani-Regular';
  src: url('../fonts/rajdhani/Rajdhani-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Ayuthaya', 'Rajdhani-Regular', monospace;
}

/* 清除滚动条 */
::-webkit-scrollbar {
  width: 0;
}

html, body {
  max-height: 400px;
}
